html {
    height: 100%;
}

body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
}

.container {
    margin-top: 50px;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 0 40px 40px 40px;
}

.content {
    /* margin-bottom: 100px; */
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 100px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}

input.currency {
  width: 200px;
  padding: 12px 20px;
  margin: 10px 0;
}

.button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    background-color: #111;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 10px;
    margin-left: 0px;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 1px;
}

.button:hover {
  padding: 18px 32px;
}

.button:focus {
  padding: 18px 33px;
}

.row {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0 0;
}
.form {
    width: 100%;
    width:70%;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
  }

  .form-group {
    padding : 30px 0 0 0;
    border-radius: 4px;
    min-width: 60%;
  }

  a {
    text-decoration: none;
    color: #eee;
  }

  a:hover {
    text-decoration: none;
    color: #ccc;
  }

  .detail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dad7d7;
  }

  .detailTitle {
    width: 40%;
    padding: 0px 5px;
    margin: 8px 20px;
  }

  .detailInfo {
    margin: 8px 20px;
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }

  .center-div {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .auto-width
  {
    width: auto;
  }

  .div-100
  {
    width: 100%;
  }

  .active {
    font-weight: bold;
  }


  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
  }

  h3{
      font-size: 1.17em;
  }

  .Info {
    word-wrap: break-word;
  }

  .success {
    color: #228B22;
  }

  .warning {
    color: rgb(255, 0, 0);
  }

  .details{
    width: 100%;
    margin: 10px;
  }

  /*  */

  .nav {
    overflow: hidden;
    /* background-color: #111; */
  }


  .nav li {
    display: block;
    transition-duration: 0.5s;
    padding: 10px;
    text-decoration: none;
   }

   .nav li:hover {
     cursor: pointer;
   }

   .nav ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     background-color: #111;
     /* margin-top: 1rem;
      */
     /* left: 0; */
     display: none;
   }

   .nav  ul li:hover > ul,
   .nav  ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
     min-width: 150px;
   }

   .nav ul li ul li {
     clear: both;
     width: 100%;
   }


   .react-datetime-picker__wrapper {
    background-color:  white;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0;
    color: black;
   }

   .react-datetime-picker__button:enabled {
    padding-top: 20px;
   }
  /*  */