body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 400px;
    background-color: #000;
    opacity: 0.95;
    color: #fff;
    padding: 40px;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input {
    width: 80%;
    padding: 12px 20px;
    margin: 10px 0;
}


button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    background-color: #111;
    font-size: 16px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 10px;
    margin-left: 0px;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 1px;
}

button:hover {
  padding: 18px 32px;
}

button:focus {
  padding: 18px 33px;
}

.row {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.form {
    width: 100%;
    width:70%;
    padding: 10px;
    margin: 0 auto;
    cursor: pointer;
  }

  .form-group {
    padding:30px;
    border-radius: 4px;
  }